.itemListContainer{
    padding-bottom: 55px;
    padding-left: 30px;
    padding-right: 30px;
    /* justify-content: space-between; */
}

.listContSpinner{
    display: flex;
    justify-content:center;
   

}

.titleContainer{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    padding-left: 43px;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    top: 75px;
    height: 60px;
    z-index: 1;
    padding-bottom: 5px;

}

.titleStyle{
    font-family: 'Montserrat', sans-serif;
    color: #01154B;
    font-size: 20px;
    font-weight: 700;
}