.checkOutSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 20px;
}
.alignBtns{
display: flex;
flex-direction: column;
align-items: flex-end;
}

.totalPrice{
    display: flex;
    background-color:#01154B;
    border-radius:5px;
    color:white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 250px;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 35px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    
}

.placeOrdenBtn{
    border: 2px solid #01154B;
    background-color: #01154B;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
   
}

.placeOrdenBtn:hover{
    border: 2px solid #01154B;
    background-color: white;
    color: #01154B;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
   
}

.clearKeepCartBtn{
border: 2px solid #01154B;
background-color: white;
color: #01154B;
font-weight: 500;
border-radius: 5px;
width: 180px;
height: 30px;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
margin-left: 15px;
}

.clearKeepCartBtn:hover{
border: 2px solid #01154B;
background-color: #01154B;
color: white;
font-weight: 500;
border-radius: 5px;
width: 180px;
height: 30px;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
margin-left: 15px;
}

.noFormSect{
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 800px;
    padding-right: 50px;
    align-items: flex-end;
}

.formSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 400px;

}

.spanStyleContainer{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    
}

.alertSpan{
    font-family: 'Montserrat', sans-serif;
    color:red;
}


@media (max-width: 800px){

    .checkOutSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;   
}

.noFormSect{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 50px;
    padding-left: 60px;
    align-items: center;
}

.clearKeepCartBtn{
border: 2px solid #01154B;
background-color: white;
color: #01154B;
font-weight: 500;
border-radius: 5px;
margin-top: 15px;
width: 180px;
height: 30px;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
margin-left: 15px;
}

.formSection{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-right: 120x ;
    margin-left: 60px;
    margin-top: 30px;

}
}